*{

    margin: 0px;
   
}

body{
    background-color: rgb(202, 202, 202);
    background-image: linear-gradient(180deg, white, rgb(218, 218, 218), blue );
}

img{
    margin: auto;
    display: block;
    
}
nav{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0px 15px;
}
.navegacao{
    padding: 10px;
    background: rgba(0, 132, 255, 0.219);
}

.formula_code{
    max-width: 100%;
}

div >.img_logo{
    
    height: 50%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.texto_intro .img_logo p{
    display: flex;
    padding: 20px;
    justify-content: center;
    
}
p{
    padding: 20px 30px;
    text-align: justify;
}



article{
    display: flex;
}


main{
    text-indent: 30px;
    width: 70%;
    margin: auto ;
    border-color: black;
    background-color: aliceblue;
    padding: 20px;
    
    
}

p{
    margin: 0px;
}

header{
    border-color: black;
}

footer{
    background-color: black;
    color: white;
    
}
