*{

  
   
}

body{
    background-color: rgb(202, 202, 202);
}

img{
    width: 100%;
}
.img_logo{
    width: 20%;
}


main{
    text-indent: 30px;
    width: 70%;
    margin: auto;
    border-color: black;
    background-color: aliceblue;
    
}
.navegacao{
    background-color: cadetblue;
}
p{
    margin: 0px;
}

header{
    border-color: black;
}

footer{
    background-color: black;
    color: white;
}
